body {
    margin: 0px;
    padding: 0px;
    background-color: #fbfbfb;
    font-family: sans-serif;
}
  
#my-extension-root{
    margin: 0;
    padding: 0;
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2147483647;
    background-color: #fbfbfb;
}
  
#my-extension-root iframe {
    width: 100%;
    height: 100%;
    border: none;
}